#### VS Code ####
.vscode
*.code-workspace

#### TS ####
scripts
src
tsconfig.json
tsconfig.build.json
.eslintrc.json

#### docs ####
docs

#### os ####
.DS_Store

#### Storybook ####
.storybook
storybook-static
*storybook.log
postcss.config.js

#### Flowbite React ####
.flowbite-react/config.json
.flowbite-react/init.tsx

#### Turborepo ####
.turbo

#### Test ####
test
vitest.*