#### VS Code ####

.vscode
*.code-workspace

#### Code/Configs ####

test
scripts
src
tsconfig.json
tsconfig.build.json
.eslintrc.json

#### Docs ####

docs

#### Disk ####

.DS_Store

#### Storybook ####

vitest.*
.storybook
storybook-static
*storybook.log
postcss.config.js