/* Reference compiled source! */
@source "dist";

/* Add safelist for dynamic classes */
@import "safelist.css";

/* #### Theme #### */

@theme {
    /* Background Colors */

    --color-paper1: rgb(255, 255, 255);
    --color-paper: var(--color-paper1);
    --color-paper2: rgb(248, 248, 248);
    --color-paper3: rgb(240, 240, 240);
    --color-paper4: rgb(230, 230, 230);
    --color-paper5: rgb(218, 218, 218);
    --color-transparent1: rgba(128, 128, 128, 0.1);
    --color-transparent2: rgba(128, 128, 128, 0.2);
    --color-transparent2: rgba(128, 128, 128, 0.3);
    --color-transparent4: rgba(128, 128, 128, 0.4);

    /* Text  Colors */

    --color-t1: rgb(0, 0, 0);
    --color-t2: rgb(94, 94, 94);
    --color-t3: rgb(151, 151, 151);
    --color-t4: rgb(178, 178, 178);
    --color-t5: rgb(204, 204, 204);

    /* tc=text-contrast */
    --color-tc1: rgb(255, 255, 255);
    --color-tc: var(--color-tc1);
    --color-tc2: rgb(204, 204, 204);
    --color-tc3: rgb(153, 153, 153);

    /* Border Colors */

    --color-divider: rgb(204, 204, 204);
    --color-divider-light: rgb(224, 224, 224);
    --color-divider-dark: rgb(102, 102, 102);
    --border-current: var(--color-divider);

    /* Shadows */

    --shadow-even-sm: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
    --shadow-even: 0px 4px 12px rgba(0, 0, 0, 0.1);
    --shadow-even-md: 0px 5px 15px rgba(0, 0, 0, 0.35);
    --shadow-even-lg: 0px 54px 55px rgba(0, 0, 0, 0.25), 0px -12px 30px rgba(0, 0, 0, 0.12),
        0px 4px 6px rgba(0, 0, 0, 0.12), 0px 12px 13px rgba(0, 0, 0, 0.17), 0px -3px 5px rgba(0, 0, 0, 0.09);
    --shadow-border: 0px 1px 3px 0px rgba(0, 0, 0, 0.02), 0px 0px 0px 1px rgba(27, 31, 35, 0.15);
    --shadow-inset-xs: 0px 2px 4px 0px rgba(0, 0, 0, 0.06) inset;
    --shadow-inset-sm: 0px 30px 60px -12px rgba(50, 50, 93, 0.25) inset,
        0px 18px 36px -18px rgba(0, 0, 0, 0.3) inset;

    /* Animations */

    --animate-skeleton: skeleton 1.5s ease-in-out infinite;

    @keyframes skeleton {
        0%,
        100% {
            background-color: var(--color-transparent1);
        }
        50% {
            background-color: var(--color-transparent2);
        }
    }
}

/* #### Base Layer #### */

/* Default Border Color */
@layer base {
    *,
    hr {
        border-color: var(--color-divider);
    }

    body {
        background-color: var(--color-paper);
        color: var(--color-t1);
    }
}
